/* .select-reddit-form{
  position: fixed;
} */
.buttonGroup{
  margin: 5% 0%;
}
.buttonGroupContainer{
  width:100%
}
div.story{
  margin-bottom: 5%;
}

h3.dateAdded{
  font-size: 1.5em;
  font-weight: 100;
}
/* upvotes container */
span.upvotes{
  width: 80px;
  height: 25px;
  background-color: #eee;
  display: inline-block;
  border: 1px solid lightgrey;
  border-radius: 20%;
  vertical-align: bottom;
  color: #007bff
}

.funnyImage{
  border-radius: 50%;
  width: 50px;
}